*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.caixa{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.errorWrapper{
    align-items: center;
    justify-content: center;
}
