
.loginContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
}


.loginLeft {
    width: 50%;
    background: linear-gradient(180deg, #ff7b00, #ff5a00);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.loginLeft::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50%;
    left: -250px;
}


.loginNavbar {
    position: absolute;
    top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.loginNavbar nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.loginNavbar nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    transition: 0.3s;
}

.loginNavbar nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: white;
    transition: 0.3s;
}

.loginNavbar nav a:hover::after {
    width: 100%;
}


.leftOverlay {
    z-index: 2;
    color: white;
    text-align: center;
}

.leftOverlay p {
    font-size: 24px;
    margin-bottom: 10px;
}

.leftOverlay h1 {
    font-size: 60px;
    font-weight: bold;
}

.loginRight {
    width: 50%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginCard {
    width: 420px;
    background: white;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.booklyLogo {
    font-size: 60px;
    color: #ff5a00;
    margin-bottom: 20px;
}

.loginCard h2 {
    font-size: 46px;
    margin-bottom: 10px;
    color: #222;
}

.loginCard p {
    color: #666;
    margin-bottom: 30px;
    font-size: 18px;
}


.loginInputs {
    display: flex;
    flex-direction: column;
}

.loginInput {
    height: 55px;
    border-radius: 12px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.loginInput:focus {
    border: 1px solid #ff5a00;
}

.loginButton {
    height: 55px;
    border: none;
    border-radius: 40px;
    background: #ff5a00;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.loginButton:hover {
    background: #e14e00;
}

.loginText {
    margin-top: 20px;
    text-align: center;
    color: #666;
}


@media (max-width: 900px) {
    .loginLeft {
        display: none;
    }

    .loginRight {
        width: 100%;
    }

    .loginCard {
        width: 90%;
    }
}