.container{
    width: 100%;
    margin-right: 100vh;
    background-color: #f5f5f5;
    font-family: 'Jost', sans-serif;
}

.hero {
     width: 100%;
     padding: 60px 20px;
     text-align: center;
}

.hero img {
    width: 100vh;
    max-width: 1000px;
    margin-bottom: 30px;
}

.hero h1 {
    font-size: 60px;
    color: #222;
    line-height: 1.2;
}

.hero span {
    color: #21c46b;
}

.hero p{
    margin-top: 20px;
    font-size: 20px;
    color: #666;

}

.start_button {
    margin-top: 30px;
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3;
    text-decoration: none;
}

.hero button:hover {
    opacity: 0.9;
}

.booksSection h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 50px;
    color: #222;
}

.booksGrid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #222;
}

.card p {
      margin-top: 5px;
      color: #666;
      font-size: 15px;
}
.carregamento {
    display: 'flex';
    justify-content: 'center';
    padding: '80px 0';
}
.buttonstart {
    margin-top: 30px;
    padding: 16px 32px;
    border: none;
    border-radius: 30px;
    background-color: #ff6b00;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3;
    text-decoration: none;
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 16px;
    }

    .hero p {
        font-size: 16px;
    }

    .booksSection {
        padding: 50px 20px;
    }

    .booksSection h2 {
        font-size: 28px;
    }

    .card {
        width: 180px;
    }
}
