* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    background: white;
    padding: 15px 30px;

    width: 100%;
    margin: 0;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    position: relative;
}

.logo {
    justify-self: start;
    color: #ff5a00;
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.header nav a {
    font-size: 16px;
    text-decoration: none;
}

.signin_btn {
    background-color: #ff5a00;
    color: white;
    padding: 8px 18px;
    border-radius: 1000px;
    font-size: 14px;
    transition: 0.3s;
    text-decoration: none;
    white-space: nowrap;
}

.signin_btn:hover {
    background-color: #e14e00;
}

.pagina_ativa {
    color: #ff5a00;
    text-decoration: underline;
}

.pagina_desativada {
    color: #333;
}

.logado {
    display: none;
}

.naoLogado {
    display: block;
}

.imagem {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.buttonIdioma {
    padding: 8px 18px;
    background-color: #ff5a00;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    cursor: pointer;
    border-color: rgb(255, 255, 255);
    border: none;
}
